@model IEnumerable<USOS.Models.NewsView>

@{
    ViewData["Title"] = "News";
}

<h2>News</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="CreateNews">Create New</a>
    </p>
}   
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "EditNews", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
