@model CreateLessonView

<form asp-action="EditLesson">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Zajęcia</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-12">
                @Html.HiddenFor(model => model.lessonID)
                <div class="form-group col-lg-10">
                    <label asp-for="lectureID" class="control-label">Przedmiot</label>
                    <select asp-for="lectureID" class="form-control" asp-items="@Model.lectures">Przedmiot</select>
                </div>
                <div class="form-group col-lg-10">
                    <label asp-for="lecturerID" class="control-label">Wykładowca</label>
                    <select asp-for="lecturerID" class="form-control" asp-items="@Model.lecturers">Wykładowca</select>
                </div>
                <div class="form-group col-lg-10">
                    <label>Grupy</label>
                    @Html.ListBoxFor(m => m.group, Model.groups, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.groups,
                        "", new { @class = "text-warning" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" id="Cancel" class="btn btn-default" type="button" data-target="Lesson">Zamknij</button>
        <button class="btn btn-success" id="Submit" type="submit">Zatwierdź</button>
    </div>
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

